<div class="login-main-screen">
    <div class="login-inner-screen">

        <div class="login-head">
            <h2><img src="assets/img/admin-icon.png" alt=""> Employee Portal</h2>
            <h4>Setup Password</h4>
        </div>

        <div class="login-body">
           
            <!-- STEP 4 -->
            <mat-card>
                <form [formGroup]="newPasswordForm" *ngIf="!isLoading && codeVerified">
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input autocomplete="off" [type]="pwdShowHide[1]?'text':'password'"
                            formControlName="newPassword" matInput placeholder="New Password">
                        <mat-error *ngIf="pwdControls?.newPassword?.errors?.required">
                            Password is <strong>required</strong>
                        </mat-error>
                        <mat-error
                            *ngIf="pwdControls?.newPassword?.errors?.pattern && pwdControls?.newPassword?.touched && !(pwdControls?.newPassword?.errors?.minlength || pwdControls?.newPassword?.errors?.maxlength)">
                            Password must contain 1 uppercase, 1 lowercase, number and special character
                        </mat-error>
                        <mat-error
                            *ngIf="(pwdControls?.newPassword?.errors?.minlength || pwdControls?.newPassword?.errors?.maxlength) && pwdControls?.newPassword?.touched">
                            Password length must be between <strong>6 & 30</strong>
                        </mat-error>
                        <mat-icon [ngClass]="pwdShowHide[1]?'red-clr':''" matSuffix class="cursor-pointer hover-effect"
                            (click)="showHidePwd(1, $event)">remove_red_eye</mat-icon>

                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Confirm Password</mat-label>
                        <input autocomplete="off" [type]="pwdShowHide[2]?'text':'password'"
                            formControlName="confirmPassword" matInput placeholder="New Password">
                        <mat-error
                            *ngIf="pwdControls?.confirmPassword?.touched && pwdControls?.confirmPassword?.errors?.mustMatch">
                            Password doesn't <strong>match</strong>
                        </mat-error>
                        <mat-icon [ngClass]="pwdShowHide[2]?'red-clr':''" matSuffix class="cursor-pointer hover-effect"
                            (click)="showHidePwd(2, $event)">remove_red_eye</mat-icon>
                    </mat-form-field>
                    <div class="auth-btn">
                        <button class="btn btn-danger" mat-raised-button [disabled]="confirmPwdCheck()"
                            (click)="setNewPwd()" (keypress.enter)="setNewPwd()">CONFIRM</button>
                    </div>
                </form>
                <h4 *ngIf="!isLoading && !codeVerified">The verification code is invalid or expired</h4>
            </mat-card>
        </div>

    </div>
</div>