.reset-icon-text {
    color: #f53d30;
    text-align: center;
    border: 1px solid #a9a9a959;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.tooltip-red {
    color: white !important;
    background: #b71c1c !important;
    font-size: 10px !important;
}
